<%= form_for new_item, url: '/items', method: 'POST' do |f| %>
  <div class="form-group"><%= f.text_field :name, placeholder: "Item name" %></div>
  <div class="form-group">$<%= f.number_field :price, placeholder: "Item price" %></div>
  <div class="form-group"><%= f.file_field :picture %></div>
  <div class="form-group"><%= f.submit %></div>
<% end %>